# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - name: Backup .env
        run: |
          # Use -p to ensure the directory exists, and use $RUNNER_TEMP
          if [ -f .env ]; then
            cp .env $RUNNER_TEMP/.env_backup
          fi

      - uses: actions/checkout@v4

      - name: Restore .env
        run: |
          if [ -f $RUNNER_TEMP/.env_backup ]; then
            mv $RUNNER_TEMP/.env_backup .env
          fi

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: npm ci
      - run: npm run build --if-present
      # - run: npm testtb4
      - run: sudo pm2 restart animo-meet-backend
